* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: rgb(243, 243, 243); */
  padding: 20px;
  border-radius: 20px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: -5px;

  h1 {
    font-weight: 600;
  }
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: orangered;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.name {
  display: flex;
  gap: 10px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 12px;
}

input {
  padding: 5px;
  /* border: none;
  border-radius: 5px; */
}

.mainWrapper {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
}

.imgWrapper {
  width: 500px;
  background-color: blue;
  border-radius: 20px;
  background-image: url("./imgs/four.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}
